.red {
  background-color: #e33118 !important;
}

.or {
  background-color: #ef843c !important;
}

.card-title {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: rgba(28, 16, 32, 0.53);
  padding: 1px 0 10px;
  border: 1px solid rgba(28, 16, 32, 0.53);
  border-radius: 30px;
}

@keyframes move {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveL {
  0% {
    transform: translateX(-600px) translateY(30%);
  }
  100% {
    transform: translateX(0) translateY(30%);
  }
}

/* Slide Right */
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/* Bounce */
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@keyframes zoom {
  0% {
    transform: translateY(-490px) scale(1.6);
  }
  100% {
    transform: translateY(50px) scale(0.71);
  }
}

@-webkit-keyframes animatedBackgroundL {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0;
  }
}

@-moz-keyframes animatedBackgroundL {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0;
  }
}

@keyframes animatedBackgroundL {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0;
  }
}

@-webkit-keyframes animatedBackgroundR {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@-moz-keyframes animatedBackgroundR {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes animatedBackgroundR {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    transform: rotate(0deg) scale(0) translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: rotate(359deg) scale(1) translateX(-25px);
  }
}

@-moz-keyframes rotateIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    transform: rotate(0deg) scale(0) translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: rotate(359deg) scale(1) translateX(-25px);
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    transform: rotate(0deg) scale(0) translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: rotate(359deg) scale(1) translateX(-25px);
  }
}

@-webkit-keyframes reveal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@-moz-keyframes reveal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes reveal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@-moz-keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes zoomInDown {
  0% {
    transform: translateY(-490px) scale(1.6);
  }
  100% {
    transform: translateY(50px) scale(0.76);
  }
}

@-moz-keyframes zoomInDown {
  0% {
    transform: translateY(-490px) scale(1.6);
  }
  100% {
    transform: translateY(50px) scale(0.76);
  }
}

@keyframes zoomInDown {
  0% {
    transform: translateY(-490px) scale(1.6);
  }
  100% {
    transform: translateY(50px) scale(0.76);
  }
}

@-webkit-keyframes zoomInDowns {
  0% {
    transform: translateY(-490px) scale(1.9);
  }
  100% {
    transform: translateY(50px) scale(1.5);
  }
}

@-moz-keyframes zoomInDowns {
  0% {
    transform: translateY(-490px) scale(1.9);
  }
  100% {
    transform: translateY(50px) scale(1.5);
  }
}

@keyframes zoomInDowns {
  0% {
    transform: translateY(-490px) scale(1.9);
  }
  100% {
    transform: translateY(50px) scale(1.5);
  }
}

body,
html {
  height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}

a {
  color: #ef8525;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.full-height {
  min-height: 100vh;
}

#loading_page {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  background: -moz-linear-gradient(top, #99dbfe 0%, white 77%);
  background: -webkit-linear-gradient(top, #99dbfe 0%, white 77%);
  background: linear-gradient(to bottom, #99dbfe 0%, white 77%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99dbfe', endColorstr='#ffffff',GradientType=0 );
  z-index: 1;
}

#loading_page .logo-wrapper .logo {
  position: absolute;
  bottom: 61px;
  z-index: 1;
  width: 200px;
  right: 0;
  transform: translateX(-25px) scaleX(0);
  transform-origin: left;
  animation: reveal cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: 2s;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  background: rgba(28, 16, 32, 0.62);
}

.main {
  padding-top: 4em;
  background-color: rgba(137, 137, 137, 0.22);
}

#gym {
  background: url(../images/gym_bk.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}

#gym .img-wrapper {
  opacity: 0;
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fr-img {
  background: url(../images/front_pg.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.backimg {
  background: url(../images/floating_clouds_bk.png) repeat-x;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  position: relative;
  animation: animatedBackgroundR 4s linear infinite;
}

.frontimg {
  background: url(../images/clouds.png);
  background-position: 0px 100%;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation: animatedBackgroundL 3s linear infinite;
}

.frontimg img {
  position: absolute;
  bottom: -8px;
}

.midimg {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

.midimg .pokeball_wrapper {
  text-align: center;
}

.midimg .pokeball_wrapper .pokeball {
  animation: fadeIn 3.5s cubic-bezier(0, 0.03, 0, 0.02);
}

.midimg .ground_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50px;
  transform: translateY(50px) scale(0.76);
  animation: zoomInDown 2s cubic-bezier(0, 0.03, 0, 0.02);
}

.midimg .ground_wrapper .ground,
.midimg .ground_wrapper .pokemon {
  position: absolute;
  top: 0;
  animation: bounce 2s infinite;
}

#pokemon_grid {
  text-align: center;
}

#pokemon_grid .carousel {
  height: 600px;
}

#pokemon_grid .card {
  position: relative;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  width: auto;
  display: inline-block;
}

#pokemon_grid .card .card-title {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: rgba(28, 16, 32, 0.53);
  padding: 1px 0 10px;
}

#pokemon_grid .card .card-reveal {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0;
}

#pokemon_grid .card .card-reveal .card-title {
  text-transform: uppercase;
  background-color: rgba(28, 16, 32, 0.93);
  padding: 5px 10px 10px;
  border: none;
  border-radius: 0;
}

#pokemon_grid .card .card-reveal img.thumb {
  display: flex;
  float: left;
  width: 64%;
  vertical-align: top;
  position: relative;
  margin-top: -26px;
  padding: 1px 0;
}

#pokemon_grid .card .card-reveal .stats .stats-title,
#pokemon_grid .card .card-reveal .stats .dropdown-trigger {
  background-color: rgba(28, 16, 32, 0.93);
  padding: 5px 10px 6px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

#pokemon_grid .card .card-reveal .stats li {
  display: inline-block;
  text-align: center;
  padding: 9px 11px;
  color: #fff;
  height: 62px;
}

#pokemon_grid .card .card-reveal .stats .hp {
  background: #695774;
}

#pokemon_grid .card .card-reveal .stats .attack {
  background: #34273d;
}

#pokemon_grid .card .card-reveal .stats .defense {
  background: #321e36;
}

#pokemon_grid .card .card-reveal .abilities {
  text-transform: uppercase;
  font-weight: bold;
}

#pokemon_grid .card .card-reveal .abilities li {
  font-weight: normal;
  font-size: 14px;
}

#pokemon_grid .card .dark,
#pokemon_grid .card .fire,
#pokemon_grid .card .ghost,
#pokemon_grid .card .poison,
#pokemon_grid .card .rock,
#pokemon_grid .card .flying {
  display: inline-block;
  font-size: 0;
}

#pokemon_grid .card .dark:before,
#pokemon_grid .card .fire:before,
#pokemon_grid .card .ghost:before,
#pokemon_grid .card .poison:before,
#pokemon_grid .card .rock:before,
#pokemon_grid .card .flying:before {
  content: "";
  display: inline-block;
  padding: 20px;
  background-size: 100%;
  animation: spin 3s linear infinite;
}

#pokemon_grid .card .fire:before {
  background: url(../images/energy/fire.png) no-repeat;
}

#pokemon_grid .card .dark:before {
  background: url(../images/energy/dark.png) no-repeat;
}

#pokemon_grid .card .ghost:before {
  background: url(../images/energy/ghost.png) no-repeat;
}

#pokemon_grid .card .poison:before {
  background: url(../images/energy/poison.png) no-repeat;
}

#pokemon_grid .card .rock:before {
  background: url(../images/energy/rock.png) no-repeat;
}

#pokemon_grid .card .flying:before {
  background: url(../images/energy/flying.png) no-repeat;
}
/*# sourceMappingURL=style.css.map */