@import 'partials/colors';
@import 'partials/images';
@import 'partials/mediaqueries';
@import 'partials/grid';
@import 'partials/animations';
@import 'partials/fonts';

body,
html {
  height:100%;
  min-height: 100%;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}

a {
    color: rgb(239, 133, 37);
  }
img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.full-height {
  min-height: 100vh;
}
#loading_page {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
    z-index: 1;
  overflow: hidden;
  // background: rgb(153,219,254);
  background: $bkgradient;
  z-index: 1;
  .logo-wrapper{
    text-align: center;
    width: 60%;
      .logo {
        position: absolute;
        bottom: 38px;
        z-index: 1;
        width: 40%;
        margin: 0 auto;
        animation: fadeIn 3.5s cubic-bezier(0, 0.03, 0, 0.02);
         
    }
  }
    
}

header{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25px,20px);
    .logo{
      width: 200px;
    }
}
.main {
  /* padding-top: 4em; */
  background: url(../images/grass.jpg) no-repeat center;
  background-size: cover;
}
  
  
  
  section {
    width: 100%;
    height: 100vh;
    // padding: 60px 0;
    overflow: hidden;
  }
.fr-img{
  background: $gymfr;
  background-size: cover;
   background-position: center;
   position: absolute;
    z-index: 1;
    width: 100%;
  
}

.backimg {
  background: $backimagebk;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  position: relative;
  animation: $bgRight;
}

.frontimg {
  background: $frontimagebk;
  background-position: 0px 100%;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation: $bgLeft;
  img {
    position: absolute;
    bottom: -8px;
  }

}

.midimg {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  .pokeball_wrapper {
      text-align: center;
    .pokeball {
        // position: absolute;
        // top: 0%;
        // transform: translateY(30%);
        animation: $fadeIn;
        
    }
}
  .ground_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    left: 50px;
    transform: translateY(50px) scale(0.76);
    animation: $zoom;
    

    .ground,
    .pokemon {
        position: absolute;
        top: 0;
        // right: 0;
        animation: bounce 2s infinite;
    }
  } 
}
  #pokemon_grid {
    text-align: center;
    .carousel {
        height: 684px;
        .carousel-item {
          top: -5%; 
      }
    }
  }
    .card {
      position: relative;
      margin: 0;
      background-color: transparent; 
      box-shadow: none;
      width: 300px;
      display: inline-block;
      .activator {
        position: absolute;
        bottom: 44px;
        height: 30px;
        width: 30px;
        right: 0;
        z-index: 1;
        cursor: pointer;
        font-size: 30px;
        color: #ffe215;
      }
      
    .card-image {
      max-height: 60%;
       overflow: visible;
    //    img {
    //     transform: scale(1.7);
    // }
  }
  
    .card-reveal {
      color: #000;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 2px;
      padding: 0;
      border-bottom: 60px solid rgba(28, 16, 32, 0.93);
      
      .card-title{
        text-transform: uppercase;
        background-color: rgba(28, 16, 32, 0.93);
        padding: 5px 10px 10px;
        border: none;
        border-radius: 0;
        i.right {
          float: right;
          margin: 7px 15px;
      }
       }
       
      img.thumb {
        display: flex;
        float: left;
        width: 50%;
        vertical-align: top;
        position: relative;
        margin-top: -26px;
        padding: 1px 0;
    }
    
    .stats{
      padding-top: 20px;
       .stats-title,
       .dropdown-trigger{
        background-color: rgba(28, 16, 32, 0.93);
        padding: 5px 10px 6px;
        border: none;
        color: #fff;
        text-transform: uppercase;
    }
    ul{
      
        padding-top: 10px;
    li {
      display: inline-block;
    text-align: center;
    padding: 9px 11px;
    color: #fff;
    height: 62px;
    }
  }
    
    .hp{
      background: #695774;
    }
    .attack{
      background: #34273d;
    }
    .defense{
      background: #321e36;
    }
  }
  .abilities{
    text-transform: uppercase;
    font-weight: bold;
    li{
      font-weight: normal;
      font-size: 14px;
    }
  }
    }
    
//   Pokemon Energies
  .dark,
  .fire,
  .ghost,
  .poison,
  .rock,
  .flying{
          display: inline-block;
          font-size: 0;
            &:before{
            content: "";
            display: inline-block;
            padding: 20px;
            background-size: 100%;
            animation: $spin;
          }
      }
       .fire{
        &:before{
        background: $fire;
      }
    }
     .dark{
      &:before{
      background: $dark;
    }
  }
  .ghost{
    &:before{
    background: $ghost;
  }
}
.poison{
    &:before{
    background: $poison;
  }
}
.rock{
    &:before{
    background: $rock;
  }
}
.flying{
  &:before{
  background: $flying;
}
}
}
.input-field{
  width: 50%;
  margin: 0 auto;
  background-color: rgba(34, 28, 19, 0.56);
  border-bottom: none;
  border-radius: 5px;
  input[type=search]+.label-icon {
    -webkit-transform: none;
    transform: none;
    left: 1rem;
    top: 12px;
  }
  input[type=search]{
    border: none;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    -webkit-box-shadow: none;
    box-shadow: none;
    ~ .material-icons{
      top: 11px;
      font-size: 1.6rem;
  }
  
    
  }
}

