$gymbk: url(../images/gym_bk.jpg) no-repeat center;
$gymfr: url(../images/front_pg.jpg) no-repeat center;
$frontimagebk: url(../images/clouds.png);
$backimagebk: url(../images/floating_clouds_bk.png) repeat-x;
$swapbk: url(../images/swap.png) no-repeat;
$collect: url(../images/tiny-pkbl.png) no-repeat;
$fire:url(../images/energy/fire.png) no-repeat;
$dark:url(../images/energy/dark.png) no-repeat;
$ghost:url(../images/energy/ghost.png) no-repeat;
$poison:url(../images/energy/poison.png) no-repeat;
$rock:url(../images/energy/rock.png) no-repeat;
